//
// Layout Wrangling and Utilities
//
$container-fluid-max-width: 1230px !default;

html,
body,
.wrapper {
	position: relative;
	width: 100%;
	height: auto;
	min-width: 320px; // wouldn't be any good below that
	min-height: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
}
html {
	overflow: auto;
}
.container-fluid {
	max-width: $container-fluid-max-width;
	// Give containers a natural amount of padding
	padding-right: $grid-gutter-width * .5;
	padding-left:  $grid-gutter-width * .5;
	@include md-plus {
		padding-right: $grid-gutter-width;
		padding-left:  $grid-gutter-width;
	}
}
