$input-border-radius: 2px !default;

// Remove outline on focus for block elements to stop outlining 'stupid' things.
main { //, div, header,
	&:focus { outline: none; }
}

// Without this, select has cursor: default; d'oh!
select { cursor: pointer; }

// Stop select styles from affecting the options too
option {
	padding: 0 !important;
	background: white;
}

// iOS devices do silly things that override input styles
textarea,
input[type=text],
input[type=email],
input[type=tel],
input[type=url],
input[type=password],
input[type=search] {
	border-radius: $input-border-radius;
	appearance: none;
}

// Stop tel: links from using typical link styles
a[href^="tel"]{
	color: inherit;
	text-decoration: none;
}

// Hides the iframe without affecting any functionality
iframe[name='google_conversion_frame'] {
	position: fixed;
}
