//
// Attention Mixins
//

/**
 * Attention states, set them all in one go! (usage below)
 */
$attention: "&:focus, &:hover, &:active";
/* Usage:
	.foo {
		#{$attention} {
			color: red;
		}
	}
 */

/**
 * Underline on attention (for vanilla links, e.g. TinyMCE output)
 * Usage:
	a {
		@include attention-underline;
	}
 */
@mixin attention-underline {
	text-decoration: none;
	#{$attention} {
		text-decoration: underline;
	}
}

/**
 * As attention-underline but with support for inline icons, e.g.
 * <a><span>Lorem</span> <i class="fa fa-envelope"></i></a>
	a {
		@include attention-underline-span;
	}
 */
@mixin attention-underline-span {
	text-decoration: none;
	#{$attention} {
		span {
			text-decoration: underline;
		}
	}
}
