//
// Breakpoint Mixins
//

// Breakpoint variables
// Typically overriden by bootstrap but, just in case it isn't being used:
$screen-xs:     480px !default;
$screen-sm-min: 768px !default;
$screen-md-min: 992px !default;
$screen-lg-min: 1200px !default;
$screen-xs-max: ($screen-sm-min - 1) !default;
$screen-sm-max: ($screen-md-min - 1) !default;
$screen-md-max: ($screen-lg-min - 1) !default;


//
// Breakpoint and Above
// These mixins are preferable for mobile-first development
//

/**
 * sm-plus
 * Tablets and wider (browser width more than $screen-sm-min)
 * Usage:
	@include sm-plus {
		display: block;
	}
 */
@mixin sm-plus {
	@media (min-width: $screen-sm-min) {
		@content;
	}
}

/**
 * md-plus
 * Medium desktops and wider (browser width more than $screen-sm-min)
 * Usage:
	@include md-plus {
		display: block;
	}
 */
@mixin md-plus {
	@media (min-width: $screen-md-min) {
		@content;
	}
}

/**
 * lg-plus
 * Larger desktops and wider (browser width more than $screen-lg-min)
 * Usage:
	@include lg {
		display: block;
	}
 */
@mixin lg-plus {
	@media (min-width: $screen-lg-min) {
		@content;
	}
}

/**
 * container-plus
 * Wider than the .container-fluid max-width (slightly wider than $screen-lg-min)
 * Usage:
	@include container-plus {
		display: block;
	}
 */
$container-fluid-max-width: 1230px !default;
@mixin container-plus {
	@media (min-width: ($container-fluid-max-width + $grid-gutter-width)) {
		@content;
	}
}


//
// Breakpoint Specific
// Target a particular breakpoint only. NOT typically ideal for mobile-first development
//

/**
 * xs only
 * Mobiles (browser width between 0 and $screen-xs-max)
 * NOTE: Please avoid using this! Mobile-first is always preferable however,
 * it can occasionally be justified if an element is particularly unique on mobiles.
 * Usage:
	@include xs {
		display: block;
	}
 */
@mixin xs {
	@media (max-width: $screen-xs-max) {
		@content;
	}
}

/**
 * sm only
 * Tablets (browser width between $screen-sm-min and $screen-sm-max)
 * Usage:
	@include sm {
		display: block;
	}
 */
@mixin sm {
	@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
		@content;
	}
}

/**
 * md only
 * Medium desktops (browser width between $screen-md-min and $screen-md-max)
 * Usage:
	@include md {
		display: block;
	}
 */
@mixin md {
	@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
		@content;
	}
}

/**
 * lg
 * Larger desktops and wider (browser width more than $screen-lg-min)
 * NOTE: Mirror of lg-plus, as lg breakpoint has no max width
 * Usage:
	@include lg {
		display: block;
	}
 */
@mixin lg {
	@include lg-plus {
		@content;
	}
}


//
// Multiple Breakpoint Mixins
//

/**
 * breakpoint-values
 * Concisely set a particular property to have different values for all breakpoints.
 *
 * @param  string  $property  CSS property
 * @param  string  $xs:       Value
 * @param  string  $sm:       Value (optional, defaults to $xs)
 * @param  string  $md:       Value (optional, defaults to $sm)
 * @param  string  $lg:       Value (optional, defaults to $md)
 *
 * Usage:
	@include breakpoint-values(
		font-size,
		10px,
		20px,
		30px,
		40px
	);

	// Or, as an overrideable map variable:
	$margins: (10px, 20px, 30px, 40px) !default;
	@include breakpoint-values(margin-bottom, $margins);
 */
@mixin breakpoint-values(
	$property: $property,
	$xs: $xs,
	$sm: $xs,
	$md: $sm,
	$lg: $md
) {
	// If passing a list variable with all 4 breakpoints
	// (detected by it being a 'list' type AND having commas),
	// extract the values to separate variables
	@if (type-of($xs) == 'list' and str-index(#{$xs}, ',') != null) {
		$list: $xs;
		$xs: nth($list, 1);
		$sm: nth($list, 2);
		$md: nth($list, 3);
		$lg: nth($list, 4);
	}
	// If setting font-size, apply the rem values for each breakpoint
	@if ($property == font-size) {
		$xs: calculate-rem($xs);
		$sm: calculate-rem($sm);
		$md: calculate-rem($md);
		$lg: calculate-rem($lg);
	}
	// Apply all the properties within their breakpoints
	@include xs {
		#{$property}: $xs;
	}
	@include sm {
		#{$property}: $sm;
	}
	@include md {
		#{$property}: $md;
	}
	@include lg {
		#{$property}: $lg;
	}
}
