/**
 * font-size
 * Set a font-size value with created rem values and pixels as fallback
 *
 * @param  string  $size  Font size (px)
 *
	// Example:
	.foo {
		@include font-size(16px);
	}

	// Which would generate:
	font-size: 16px; // fallback (px)
	font-size: 1.6rem;
 */
@mixin font-size($size) {
	@include rem-fb('font-size', $size);
}

/**
 * fa
 * Font-awesome icon - inject as a ::before or ::after pseudo element
 *
 * @param  string   $char      Font-awesome character (e.g. $fa-var-envelope)
 * @param  string   $position  [before/after] (default: before)
 * @param  content  {}         Styles that apply to the icon
 *
 * List of font-awesome variables (although they're guessable):
 * https://github.com/FortAwesome/Font-Awesome/blob/master/scss/_variables.scss
 *
	// Simple example - an envelope icon before start of element:
	@include fa($fa-var-envelope);

	// Icon after element:
	@include fa($fa-var-envelope, after);

	// Styled icon:
	@include fa($fa-var-envelope, after) {
		display: inline-block;
		margin-left: 5px;
		color: #55f;
	}
 *
 *  NOTE: If using a CDN for font-awesome and not also importing
 *  font awesome's `_variables.scss` file (unrecommended!),
 *  you can manually provide the unicode, i.e.
 *  	@include fa('\F13A');
 */
@mixin fa($char: null, $position: before) {
	// $char content can be empty, say if inheriting from a parent
	@if ($char != null) {
		&:#{$position} {
			content: "#{$char} ";
		}
	}
	&:#{$position} {
		display: inline-block;
		font-family: fontawesome;
		font-style: normal;
		font-weight: normal;
		// underline must be set, then unset - ie8 fix
		text-decoration: underline;
	}
	&:#{$position} {
		text-decoration: none;
		@content;
	}
}
