// for easy absolute or fixed positioning
@mixin position($position: absolute, $top: auto, $right: auto, $bottom: auto, $left: auto) {
	position: $position;
	top: $top;
	right: $right;
	bottom: $bottom;
	left: $left;
}

@mixin absolute($top: null, $right: null, $bottom: null, $left: null) {
	@include position(absolute, $top: $top, $right: $right, $bottom: $bottom, $left: $left);
}
@mixin absolute-fill {
	@include position(absolute, $top: 0, $right: 0, $bottom: 0, $left: 0);
}

@mixin fixed($top: null, $right: null, $bottom: null, $left: null) {
	@include position(fixed, $top: $top, $right: $right, $bottom: $bottom, $left: $left);
}
@mixin fixed-fill {
	@include position(fixed, $top: 0, $right: 0, $bottom: 0, $left: 0);
}
