/**
 * calculate-rem
 * Convert font size from pixels to rem
 * (typically only used within the font-size mixin)
 *
 * @param   string  $size      Font size (px)
 * @return  string  $rem-size  Font size (rem)
 */
@function calculate-rem($size, $base: 10px) {
	// Relative to 10px (base 10) as this is the
	// font-size set on html {} by bootstrap's `_scaffolding.scss`
	$rem-size: $size / $base;
	@return #{$rem-size}rem;
}

/**
 * rem-fb
 * Set a property value with created rem values and pixels as fallback
 *
 * @param  string  $size  Font size (px)
 *
	// Example:
	.foo {
		@include rem-fb('line-height', 16px);
	}
 */
@mixin rem-fb($prop, $size) {
	#{$prop}: $size;
	@if ($size != 'inherit') {
		#{$prop}: calculate-rem($size);
	}
}