//skip to content link
.skip-to-content {
	position: absolute;
	left: -1000px;
	width: 1px;
	height: 1px;
	overflow: hidden;
	text-align: left;

	&:focus {
		top: 20px;
		left: 5px;
		z-index: 9999;
		width: auto;
		height: 35px;
		padding: 0 15px;
		line-height: 35px;
		color: #000;
		text-decoration: underline;
		background: #fff;
		box-shadow: 2px 3px 5px 0 rgba(0, 0, 0, .75);
	}
}

//Back to top link
.back-to-top {
	display: block;
	padding: $grid-gutter-width * .5 0;
	text-align: center;
	background: #fff;
}

.back-to-top__link {
	@include font-size(16px);
	display: inline-block;
	padding: 5px;
	clear: both;
	color: $brand-primary;
	text-decoration: underline;

	#{$attention} { text-decoration: none; }

	.fa {
		display: inline-block;
		margin-left: 5px;
		color: inherit;
		text-decoration: none;
	}
}