//
// Layout
//

$grid-columns: 12;
$grid-gutter-width: 30px;

// Container fluid maximum width based on the design's largest column width
$grid-column-max-width: 70px !default;
$container-fluid-max-width: $grid-column-max-width * $grid-columns + $grid-gutter-width * ($grid-columns + 1);
